[user]
	email = hi@shahinism.com
	name = Reza (Shahin) Khanipour
        signingkey = hi@shahinism.com

[includeIf "gitdir:~/Work/Projects/DataChef/PostNL/"]
        path = .gitconfig.d/postnl

[includeIf "gitdir:~/Work/Projects/DataChef/Internal/"]
        path = .gitconfig.d/datachef

[includeIf "gitdir:~/Work/Projects/DataChef/Syngenta/"]
        path = .gitconfig.d/datachef

[includeIf "gitdir:~/Work/Projects/DataChef/CarNext_DataLake/"]
        path = .gitconfig.d/datachef

[commit]
        gpgSign = true
[push]
# Prevent the following status:
# fatal: The current branch refactor/use-package has no upstream branch.
# To push the current branch and set the remote as upstream, use

#     git push --set-upstream origin refactor/use-package

# To have this happen automatically for branches without a tracking
# upstream, see 'push.autoSetupRemote' in 'git help config'.
	autoSetupRemote = true
